<!DOCTYPE html>
<html>
<head>
    <title>Redes Routers</title>
    <link rel="stylesheet" href="/static/css/css.css">
</head>
<body>
    <div class="info">
        <h1 class="info_titulo">Accesoss Internet</h1>
        <p class="info_parrafo">Visualización de Conexiones entre Routers Principales</p>
    </div>
    <div class="buscador">
        <div class="buscador_contenedor">
            <div class="buscador_contenedor-estatico">
                <button type="submit" id="botonBuscador" class="contenedor_estatico-boton"><img src="/static/img/lupa.png" alt="Lupa_Buscador"></button>
                <input type="text" id="buscador" placeholder="Busca..." class="contenedor_estatico-input">
            </div>
            <ul id="lista_buscando" class="buscador_contenedor-buscando"></ul>
        </div>
        <ul id="lista_buscador" class="buscador_buscado"></ul>
    </div>
    <div class="tabla_contenedor">
        <table class="tabla_contenedor-tabla">
            <thead class="contenedor_tabla-thead">
                <tr>
                    <th>Ruta</th>
                    <th>Distancia</th>
                </tr>
            </thead>
            <tbody id="tabla" class="contenedor_tabla-tbody">
                {% for ruta in rutas %}
                <tr id=" {{ruta.id}} ">
                    <td><b>{{ ruta.origen }}</b> ➝ {{ ruta.destino }}</td>
                    <td>{{ ruta.distancia_km }} km</td>
                </tr>
                {% else %}
                <tr><td colspan="2">Cargando datos...</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <script type="module" src="/static/js/js.js"></script>
</body>
</html>